{extend name='common/base' /}
{block name='seo'}
<title>留言板 - K先生的博客</title>
<meta name="Keywords" content="留言板,K先生,K先生的博客">
<meta name="Description" content="有朋自远方来，来聊聊天吧-K先生的博客">
{/block}
{block name='leftBody'}
<p class="top_nav_P">
	您现在的位置是：<a href="/">首页</a> > <a href="/">留言板</a>
	<span class="f_r music_p d_none">有朋自远方来，不亦乐乎！</span>
	</p>
	<div style="">
		<section class="section" style="min-height: 300px">
			<p>留言功能正在完善中......</p>
		</section>
					
	</div>
{/block}

{block name='rightBody'}
{include file='block/author' /}
{include file='block/rand' /}
{/block}