{extend name='common/base' /}

{block name='seo'}
<title>K先生的博客 - 分享资源和学习经验的个人博客</title>
<meta name="Keywords" content="K先生,K先生的博客,个人博客">
<meta name="Description" content="K先生的博客，一个分享html、php源码等资源以及交流学习技术的个人博客！K先生是我的影，那些年我踩过的坑，不想让别人再踩，因为，我深知其中的苦和泪。">
{/block}

<!-- 左边内容区域 -->
{block name='leftBody'}
<div class="banner" id="banner" style="margin: 0px auto;">
	<div class="banner-view"></div>
	<div class="banner-btn"></div>
	<div class="banner-number"></div>
	<div class="banner-progres"></div>
</div>
<ol class="list_two ico_num" style="display: none;">
	<p class="div_top">本站推荐</p>
	<li><a href=""><i></i>今天不谈技术，来聊聊心情<time>2019-05-08</time></a></li>
	<li><a href=""><i></i>简约文艺美女单车图片<time>2019-05-08</time></a></li>
	<li><a href=""><i></i>您可能会喜欢的其他模板<time>2019-05-08</time></a></li>
	<li><a href=""><i></i>舌尖上的茶香banner背景图<time>2019-05-08</time></a></li>
	<li><a href=""><i></i>网站内页不被收录时，我做了什么<time>2019-05-08</time></a></li>
	<li><a href=""><i></i>您好2019<time>2019-05-08</time></a></li>
	<li><a href=""><i></i>北漂之旅～新的征程<time>2019-05-08</time></a></li>
	<li><a href=""><i></i>我还能干什么<time>2019-05-08</time></a></li>
</ol>
<ul class="list_one ico_num" style="">
	<p class="div_top">本站推荐</p>
	<li><a href="{:url('info')}"><i></i>今天不谈技术，来聊聊心情<time>2019-05-08</time></a></li>
	<li><a href=""><i></i>简约文艺美女单车图片<time>2019-05-08</time></a></li>
	<li><a href=""><i></i>您可能会喜欢的其他模板<time>2019-05-08</time></a></li>
	<li><a href=""><i></i>舌尖上的茶香banner背景图<time>2019-05-08</time></a></li>
	<li><a href=""><i></i>网站内页不被收录时，我做了什么<time>2019-05-08</time></a></li>
</ul>
<div style="margin-top: 15px;">
	{volist id='list' name='list' empty='暂时还没有数据呢'}
		{eq name='list.titleimg' value='1'}
			<section class="section hot_sec">
				<div class="flex_img">
					<div class="img_box">
						<img src="/static/titleimg/{$list.id}.jpg" onerror="{this.src='/static/index/imgs/default.jpg'}" title="K先生"></div>
					<div class="r_text">
						<h2 class="ellipsis1"><a href="info/{$list.id}.html">{$list.title}</a></h2>
						<p class="ellipsis3">{$list.content}</p>
						<div class="text_info">
							<span><i id="user_ico" class="ico"></i>林中鸟</span>
							<time><i id="time_ico" class="ico"></i>{$list.time}</time>
							<span><i id="type_ico" class="ico"></i>{$list.type}</span><span><i id="read_ico" class="ico"></i>{$list.read_num}</span>
						</div>
					</div>
				</div>
			</section>
		{else/}
		<section class="section">
			<div class="flex_img">
				<div class="r_text">
					<h2 class="line_h2" style=""><a href="info/{$list.id}.html">{$list.title}</a></h2>
					<p class="ellipsis2" style="margin-bottom: 45px;">{$list.content}</p>
					<div class="text_info">
						<span><i id="user_ico" class="ico"></i><a href="#">K先生</a></span>
						<time><i id="time_ico" class="ico"></i>{$list.time}</time>
						<span><i id="type_ico" class="ico"></i>{$list.type}</span><span><i id="read_ico" class="ico"></i>{$list.read_num}</span>
					</div>
				</div>
			</div>
		</section>
		{/eq}
	{/volist}
	{$page}
</div>
{/block}
<!-- 右边内容区域 -->
{block name='rightBody'}
	{include file='block/author' /}
	{include file='block/date' /}
	{include file='block/hot' /}
	{include file='block/rand' /}
	<aside style="margin-top: 15px;min-height: 120px;">
		<p class="div_top">友情链接</p>
		<ul class="link_ul">
			<li><a href="#">杨青博客</a></li>
			<li><a href="#">K先生的博客</a></li>
		</ul>
	</aside>
{/block}

{include file='common/footer' /}
{block name='myjs'}
{__block__}
<script type="text/javascript" src="/__STATIC__1/js/banner.js"></script>
		<script type="text/javascript">
			var banWidth=300;
			if (document.body.clientWidth<576) {
				banWidth=200;
			}
			// var p  = document.getElementById("banner1").parentNode;
			var bannerDiv = document.getElementById("banner").parentElement;
			var banner = new FragmentBanner({
				container: "#banner", //选择容器 必选
				imgs: ['/static/index/imgs/banner1.png', '/static/index/imgs/banner2.png', '/static/index/imgs/banner3.png'], //图片集合 必选
				size: {
					width: bannerDiv.clientWidth,
					height: banWidth
				}, //容器的大小 可选
				//行数与列数 可选
				grid: {
					line: 3,
					list: 4
				},
				type: 1, //切换类型 1 ， 2 可选
				boxTime: 3000, //小方块来回运动的时长 可选
				fnTime: 10000 //banner切换的时长 可选
			});
</script>
{/block}