{extend name='common/base'}

{block name='seo'}
<title>{$data.title} - K先生个人博客</title>
<meta name="Keywords" content="{$data.title},个人博客,K先生">
<meta name="Description" content="{$data.desc}">
{/block}

{block name='leftBody'}
<div style="background-color: #fff;padding: 10px 15px;font-size: 14px;">
	<p style="color: #666;">当前位置：<a href="/">首页</a> > <a href="/{$data.type_link}.html">{$data.type}</a> > <a href="#">正文</a></p>
</div>
<div class="content">
	<h2 class="line_h2">{$data.title}</h2>
	<div class="user_info">
		<span><i id="user_ico" class="ico"></i>K先生</span>
		<time><i id="time_ico" class="ico"></i>{$data.time}</time>
		<span><i id="type_ico" class="ico"></i>{$data.type}</span><span><i id="read_ico" class="ico"></i>{$data.read_num}</span>
	</div>
	<div class="blog_text">
		{$data.content}
	</div>
	<!-- 文章版权说明 -->
	<div class="banquan" style="">
		<p style="margin-bottom: 5px"><b>作者</b>：<a href="http://www.gold404.cn/about.html" style="margin-right: 15px">K先生</a><b>本文地址</b>：<a href="http://www.gold404.cn/info/{$data.id}.html" title="{$data.title}">http://www.gold404.cn/info/{$data.id}.html</a></p>
		<p><b>版权声明</b>：本文为原创文章，版权归 <a href="http://www.gold404.cn/">K先生个人博客</a> 所有，欢迎分享本文，转载请保留出处，谢谢！</p>
	</div>
	<!-- <div class="" style="text-align: center;margin: 10px;">
		<button type="button" style="background-color: red;border: none;padding: 5px 10px;color: #fff;">👍赞一下（57）</button>
	</div> -->
	<div class="next_div">
		<p>上一篇：
			{eq name="top_title.id" value='0'}
			{$top_title.title}
			{else /}
			<a href="{$top_title.id}.html">{$top_title.title}</a>
			{/eq}
		</p>
		<p>下一篇：
			{eq name="next_title.id" value='0'}
			{$next_title.title}
			{else /}
			<a href="{$next_title.id}.html">{$next_title.title}</a>
			{/eq}
		</p>
	</div>
</div>
<ul class="list_two li_dian" style="border-radius: 3px;">
	<p class="div_top">猜你喜欢</p>
	{volist id='rand_title' name='rand_title'}
	<li><a href="{$rand_title.id}.html">{$rand_title.title}</a></li>
	{/volist}
</ul>
{/block}
{block name='comment'}
<!-- 评论 -->
<div style="background-color: #fff;margin-top: 15px;margin-bottom: 15px;border-radius: 3px;">
	<!-- <p class="div_top">文章评论</p> -->
	<!-- <p style="color: #888;">暂无评论</p> -->
	{include file='block/comment'}
</div>
{/block}
{block name='rightBody'}
{include file='block/hotMusic'}
{include file='block/hot'}
{include file='block/rand'}
{/block}
{block name='myjs'}
{__block__}
<script type="text/javascript" src="/__STATIC__1/lib/laycode/laycode.js"></script>
<script src="/__STATIC__1/lib/comment/js/headimg.js"></script>
<script type="text/javascript" src="/__STATIC__1/lib/comment/js/comment.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$('pre').laycode({ title:'K先生的代码',skin: 1,by: false});
		//文章h3标题的文章样式	
		var h3=$('.blog_text h3');
		h3.each(function () {
			$(this).html('<span>'+$(this).text()+'</span>');
		})
	})
</script>
{/block}
