<div class="container">
    <div class="comment_div">
        <h5 class="com_h5" style="font-size: 16px;">文章评论</h5>
        <form id="form0" action="#" method="post" onsubmit="return false">
            <div class="com_top" style="display: flex;flex-wrap: wrap;">
                <div style="flex: 0 0 50%;max-width:50%">
                    <div class="com_input_div" style="">
                        <label style="">昵称：</label>
                        <input class="com_input" type="text" name="username" value="">
                        <span class="com_tip" style=""><span style="color: red;">*</span> 必填项</span>
                    </div>
                    <div class="com_input_div">
                        <label style="">邮箱：</label>
                        <input class="com_input" type="email" name="email">
                        <span class="com_tip" style=""><span style="color: red;">*</span> 必填项</span>
                    </div>
                    <div class="com_input_div" style="">
                        <label style="">网址：</label>
                        <input class="com_input" type="text" name="href" placeholder="http://或https://开头哦">
                        <span class="com_tip">可选</span>
                    </div>
                </div>
                <div style="flex: 0 0 50%;max-width:50%;">
                    <div class="com_card" style="display: none;">
                        <div class="com_card_left" style="">
                            <img class="round" width="65" height="65" avatar="轻微的风">
                        </div>
                        <div class="com_card_right" style="">
                            <p>name：<span id="card_name"></span></p>
                            <p style="white-space: nowrap;">Email：<span id="card_email"></span></p>
                            <p>网址：<span id="card_href"></span></p>
                        </div>
                    </div>
                    <div class="create_com" style="height: 100%;width: 100%;">
                        <button id="create_btn" class="com_btn" style="">生成名片</button>
                    </div>
                </div>
                <div style="flex: 0 0 100%;margin-top: 15px;">
                    <div class="com_area_div" style="">
                        <textarea name="title" placeholder="写点什么..."></textarea>
                        <input onclick="comment()" class="com_btn" type="submit" name="" value="发表评论" />
                    </div>
                </div>
            </div>
        </form>
        <div class="com_bom">
            <h5 class="com_h5">评论列表</h5>
            <ul class="com_ul">
                {empty name="com_data"}
                    <p>暂时还没有评论哦！</p>
                {/empty}
                {volist name="com_data" id="com_data" }
                <li>
                    <img class="round" width="50" height="50" avatar="{$com_data.username}" color="#15b6e6">
                    <div class="com_right" style="">
                        <p class="com_info_top"><a id="name1" href="#">{$com_data.username}</a>
                            <span id="com_id" style="display: none;">{$com_data.id}</span>
                            <span style="float: right;">顶 ({$com_data.zan}）</span>
                        </p>
                        <p class="com_info_center" style="">{$com_data.title}</p>
                        <div class="com_ul_bom">
                            <span>5分钟前</span>
                            <span id="replay"><a href="javascript:void(0)">回复</a></span>
                        </div>
                        {if $com_data.child_com}
                        <!-- 二级评论 -->
                        <ul class="com_two">
                            {volist name="com_data.child_com" id='child_com'}
                            <li>
                                <div class="com_two_div">
                                    <p class="mb5"><a id="name2" href="#">{$child_com.username} </a>回复 <a href="#">@{$child_com.replayname}</a>：<span>{$child_com.title}</span></p>
                                    <div class="com_ul_bom">
                                        <span>11分钟前</span>
                                        <span id="replay">回复</span>
                                    </div>
                                </div>
                            </li>
                            {/volist}
                        </ul>
                        {/if}
                    </div>
                </li>
                {/volist}
            </ul>
        </div>
    </div>
</div>