<header>
    <div class="container">
        <h2 class="d_none"><img title="K先生个人博客" src="/__STATIC__1/imgs/logo3.png" height="90px"></h2>
        <!-- 移动端导航 -->
        <div class="md_none" style="">
            <div class="menu_div" style="">
                <button id="menu_btn"><i class="fa fa-bars" aria-hidden="true"></i></button>
                <div style="text-align: center;">
                    <img src="/__STATIC__1/imgs/mlogo.png" style="width: 150px">
                </div>
                <button id="search_btn"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <div style="height: 55px"></div>
            <div class="m_nav_div" style="width: 0">
                <ul class="m_nav_ul">
                    <li><a href="/">网站首页</a></li>
                    <li><a href="/ajishu.html">爱技术</a></li>
                    <li><a href="/ashare.html">爱分享</a></li>
                    <li><a href="/alife.html">爱生活</a></li>
                    <li><a href="/apinbo.html">爱拼搏</a></li>
                    <li><a href="/gbook.html">留言板</a></li>
                    <li><a href="/about.html">关于我</a></li>
                </ul>
            </div>
            <div class="black_box" style="display: none;"></div>
        </div>
    </div>
    <nav class="d_none">
        <div class="container">
            <ul>
                <li><a href="/">网站首页</a></li>
                <li><a href="/ajishu.html">爱技术</a></li>
                <li><a href="/ashare.html">爱分享</a></li>
                <li><a href="/alife.html">爱生活</a></li>
                <li><a href="/apinbo.html">爱拼搏</a></li>
                <li><a href="/gbook.html">留言板</a></li>
                <li><a href="/about.html">关于我</a></li>
            </ul>
        </div>
    </nav>
</header>