<header>
			<div class="container">
				<h2 class="d_none"><img src="/__STATIC__1/imgs/logo3.png" height="90px"></h2>
			</div>
			<nav >
				<div class="container">
					<ul>
						<li><a href="/">网站首页</a></li>
						<li><a href="/ajishu.html">爱技术</a></li>
						<li><a href="/ashare.html">爱分享</a></li>
						<li><a href="/alife.html">爱生活</a></li>
						<li><a href="/apinbo.html">爱拼搏</a></li>
						<li><a href="/gbook.html">留言板</a></li>
						<li><a href="/about.html">关于我</a></li>
					</ul>
				</div>
			</nav>
		</header>