<header class="header">
			<div class="header_l" style="">
				<div class="logo">
					<a href="#"><img src="/__STATIC__2/images/logo.png" /></a>
				</div>
				<button id="bar" style="">
					<i class="fa fa-bars" aria-hidden="true" style="font-size: 28px;color: #fff;"></i>
				</button>
			</div>
			<div class="header_r" style="">
				<ul class="header_ul ">
					<li><i class="fa fa-bell-o icon_fff min_num" aria-hidden="true"><span>2</span></i></li>
					<li id="avatar">
					<img style="" src="http://img0.imgtn.bdimg.com/it/u=3616660187,4185961025&fm=26&gp=0.jpg" alt="">
					<span class="header_name d-none">管理员</span>
					<i class="fa fa-sort-desc icon_fff d-none" aria-hidden="true"></i>
					<div class="avatar_box" style="display: none;">
						<ul>
							<li><a href="#">设置</a></li>
							<li><a href="/admin/loginOut.html">退出</a></li>
						</ul>
					</div>
					</li>
				</ul>
			</div>
		</header>