<nav class="nav mw0">
    <ul class="nav_ul">
        <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>后台首页</a></li>
        <li><a href="/admin/write.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>发表文章</a></li>
        <li><a href="/admin/list.html"><i class="fa fa-book" aria-hidden="true"></i>文章管理</a></li>
        <li><a href="/admin/comment.html"><i class="fa fa-comments" aria-hidden="true"></i>评论管理</a></li>
        <li><a href="/admin/webtj.html"><i class="fa fa-line-chart" aria-hidden="true"></i>网站统计</a></li>
        <li><a href="/admin/webset.html"><i class="fa fa-cog" aria-hidden="true"></i>系统设置</a></li>
    </ul>
</nav>